body,
input,
textarea,
select {
  color: #000;
  background: none;
  font-family: Verdana, sans-serif;
  font-size: 11pt;
}

ul.main-menu,
ul.secondary-menu,
#header-region,
.sidebar,
ul.tabs,
.print-none,
ul.secondary.assessment-secondary,
ul.secondary {
  display: none;
}
#wrapper #container #header h1,
#wrapper #container #header h1 a:link,
#wrapper #container #header h1 a:visited {
  text-shadow: none;
  color: #000;
}
.print-no-break-inside {
  page-break-inside:avoid;
}
.print-header {
  width: 100%;
  overflow: hidden;
}
.print-logo {
  float: right;
  margin: 0 0 0 10px;
}
.print-content table {
  width: 100%;
  margin: 0 0 25px;
}
.print-content table td{
  color: #000;
  padding: 8px 10px;
  vertical-align: middle;
}